.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 350px;
    border-radius: 50%;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: top;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}
