.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 350px;
    border-radius: 50%;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: top;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}

.widetext div div:nth-child(1) {
    flex: 5%;
}

.widetext div div:nth-child(2) {
    flex: 95%;
}

.mid-icon div div:nth-child(1) {
    flex: 45%;
}

.mid-icon div div:nth-child(2) {
    flex: 5%;
}

.mid-icon div div:nth-child(3) {
    flex: 50%;
}
