.vtab-content img {
  border-radius: 50%;
}

.vtab.block {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 601px) {
  .vtab-content img {
    float: right;
  }

  .vtab-links {
    min-width: 35%;
  }
}

@media (max-width: 600px) {
  .vtab.block {
    display: flex;
    flex-direction: column;
  }
}