main .tabs .tabs-content[aria-hidden=true] {
    display: none;
    visibility: hidden;
}

main .tabs-content img {
    border-radius: 50%;
}

main .tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .tabs-links a {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #777;
  border-radius: 0;
  border-right: 2px solid var(--link-hover-color);
  font-weight: 600;
  font-size: 18px;
  display: block;
}

main .tabs-links ul {
  list-style-type: none;
}

main .tabs-links a:hover {
  color: var(--link-hover-color);
}

main .tabs-links li[aria-selected=true] a {
  color: var(--link-color);
  border-color: var(--link-color);
}

@media (min-width: 900px) {
    main .tabs-wrapper {
      max-width: 1100px;
    }

    main .tabs {
        flex-direction: row;
    }

    main .tabs-content img {
        float: right;
    }

    main .tabs-links {
        min-width: 30%;
    }

    main .tabs-contents {
      min-width: 70%;
      padding-left: 20px;
    }
}