.tab-content img {
  border-radius: 50%;
}

.tabs.block {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 901px) {
  .tab-content img {
    float: right;
  }

  .tab-links {
    min-width: 35%;
  }
}

@media (max-width: 900px) {
  .tabs.block {
    display: flex;
    flex-direction: column;
  }
}