.modal dialog {
  font-size: 90%;
  background-color: var(--background-color);
  border: none;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  overflow-y: scroll;
}

.modal a.button.modal-close {
  margin: 0 40px 30px;
}
