.help-box {
  position: relative;
  background-color: var(--background-color);
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  padding: 0 20px;
  font-size: 14px;
}

.help-box h3 {
  font-size: var(--heading-font-size-s);
}

.help-box > div {
  padding: 20px 0;
}

.help-box > div:first-child img {
  width: 64px;
}

.help-box > div:first-child {
  border-bottom: solid 1px #ccc;
}


@media (min-width:900px) {
  .help-box {
    padding-left: 100px;
  }

  .help-box > div:first-child img {
    position: absolute;
    left: 20px;
  }
}
